/*
ADD FONT from assets/fonts/Lato-Regular.ttf in your HTML or CSS if needed
*/
/* @font-face {
    font-family: 'dogicapixel';
    src: url('../fonts/dogicapixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body {
    background-color: #101010;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    margin: auto;
    background-color: gray;
    max-width: 100%;
    /* Se adapta a pantallas pequeñas */
    max-height: 100vh;
    /* Nunca sobrepasa la pantalla */
    object-fit: contain;
    /* Mantiene relación de aspecto */
    /* image-rendering: pixelated; */
}

:fullscreen {
    background-color: #101010;
}